/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: ap_letter, helvetica, arial, serif;
  position: fixed; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'ap_letter';
  src: url("../font/apletter-bold-webfont.woff2") format("woff2"), url("../font/apletter-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ap_letter';
  src: url("../font/apletter-light-webfont.woff2") format("woff2"), url("../font/apletter-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'ap_letter';
  src: url("../font/apletter-regular-webfont.woff2") format("woff2"), url("../font/apletter-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.centerHV {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

strong {
  font-weight: 800; }

@keyframes ss_arrow {
  0% {
    -webkit-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0; } }

#mainstage {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #333; }
  #mainstage #navigation {
    height: 100%; }
    #mainstage #navigation .bar {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 70px;
      height: 100vh;
      background-color: #fff; }
      #mainstage #navigation .bar .title {
        display: block;
        width: 100vh;
        height: 70px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 100%;
        left: 0px;
        line-height: 70px;
        text-align: center;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left; }
      #mainstage #navigation .bar a.open {
        display: block;
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0px;
        left: 0px; }
        #mainstage #navigation .bar a.open .hbtop, #mainstage #navigation .bar a.open .hbbottom {
          position: absolute;
          display: block;
          width: 26px;
          height: 1px;
          background-color: #f00;
          left: 22px; }
        #mainstage #navigation .bar a.open .hbtop {
          top: 28px; }
        #mainstage #navigation .bar a.open .hbbottom {
          bottom: 28px; }
    #mainstage #navigation .nav_section_wrapper {
      width: 100vw;
      height: 100%;
      position: absolute;
      left: 0px;
      opacity: 1;
      overflow: hidden;
      z-index: 300; }
      #mainstage #navigation .nav_section_wrapper.open {
        display: block; }
      #mainstage #navigation .nav_section_wrapper .nav_section {
        width: 33.33%;
        display: inline-block;
        height: 100%;
        background-color: #ff0;
        position: relative; }
        #mainstage #navigation .nav_section_wrapper .nav_section h2 {
          color: #fff;
          font-weight: 100;
          font-size: 30px; }
        #mainstage #navigation .nav_section_wrapper .nav_section.nav_pp {
          background-color: #817AE4;
          z-index: 5; }
        #mainstage #navigation .nav_section_wrapper .nav_section.nav_ff {
          background-color: #6F6CD4;
          z-index: 4; }
        #mainstage #navigation .nav_section_wrapper .nav_section.nav_cs {
          background-color: #615FC6;
          z-index: 3; }
      #mainstage #navigation .nav_section_wrapper .menu_close {
        z-index: 6;
        position: absolute;
        top: 20px;
        right: 20px; }
    #mainstage #navigation .menu_open-enter-active, #mainstage #navigation .menu_open-leave-active {
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s; }
      #mainstage #navigation .menu_open-enter-active .nav_section, #mainstage #navigation .menu_open-leave-active .nav_section {
        -webkit-transition: opacity .5s, -webkit-transform .3s;
        transition: opacity .5s, -webkit-transform .3s;
        -o-transition: opacity .5s, transform .3s;
        transition: opacity .5s, transform .3s;
        transition: opacity .5s, transform .3s, -webkit-transform .3s; }
    #mainstage #navigation .menu_open-enter-active .nav_section.nav_pp {
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    #mainstage #navigation .menu_open-enter-active .nav_section.nav_ff {
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    #mainstage #navigation .menu_open-enter-active .nav_section.nav_cs {
      -webkit-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    #mainstage #navigation .menu_open-leave-active .nav_section.nav_pp {
      -webkit-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    #mainstage #navigation .menu_open-leave-active .nav_section.nav_ff {
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    #mainstage #navigation .menu_open-leave-active .nav_section.nav_cs {
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    #mainstage #navigation .menu_open-enter, #mainstage #navigation .menu_open-leave-to {
      opacity: 0; }
      #mainstage #navigation .menu_open-enter .nav_section, #mainstage #navigation .menu_open-leave-to .nav_section {
        opacity: 0;
        -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        transform: translatex(-50%); }
  #mainstage #screensaver {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: #3FBFAB;
    overflow: hidden;
    z-index: 1000; }
    #mainstage #screensaver.open {
      display: block;
      opacity: 1; }
    #mainstage #screensaver .ss_text li {
      list-style: none;
      font-weight: bold;
      font-size: 30px;
      color: #ffffff;
      opacity: 1; }
    #mainstage #screensaver .ss_fade-enter-active, #mainstage #screensaver .ss_fade-leave-active {
      -webkit-transition: opacity .5s, -webkit-transform .5s;
      transition: opacity .5s, -webkit-transform .5s;
      -o-transition: opacity .5s, transform .5s;
      transition: opacity .5s, transform .5s;
      transition: opacity .5s, transform .5s, -webkit-transform .5s; }
    #mainstage #screensaver .ss_fade-enter, #mainstage #screensaver .ss_fade-leave-to {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px); }
    #mainstage #screensaver .ss_fade-leave-to {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px); }
    #mainstage #screensaver .ss_arrow {
      position: absolute; }
      #mainstage #screensaver .ss_arrow img {
        -webkit-animation-name: ss_arrow;
        animation-name: ss_arrow;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear; }
  #mainstage #pain_points {
    width: calc(100vw - 70px);
    height: 100%;
    position: absolute;
    left: 70px;
    top: 0px;
    display: none;
    background-color: #7EB6D8;
    overflow: hidden; }
    #mainstage #pain_points .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #4A86A6;
      position: absolute; }
      #mainstage #pain_points .circle .inner_1 {
        width: 75%;
        height: 75%;
        border-radius: 50%;
        position: absolute;
        left: 12.5%;
        top: 12.5%;
        background-color: #639DBF; }
      #mainstage #pain_points .circle .inner_2 {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: #F8F5F3;
        position: absolute;
        left: 25%;
        top: 25%; }
      #mainstage #pain_points .circle .center {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        background-color: #7EB6D8;
        position: absolute;
        left: 37.5%;
        top: 37.5%; }
      #mainstage #pain_points .circle.foreground {
        background-color: #817AE4; }
        #mainstage #pain_points .circle.foreground .inner_1 {
          background-color: #B3AFEE; }
        #mainstage #pain_points .circle.foreground .inner_2 {
          background-color: #F8F5F3; }
        #mainstage #pain_points .circle.foreground .center {
          background-color: #817AE4; }
  #mainstage #fast_facts {
    width: calc(100vw - 70px);
    height: 100%;
    position: absolute;
    left: 70px;
    top: 0px;
    display: none;
    background-color: #B3AFEE;
    overflow: hidden; }
    #mainstage #fast_facts.open {
      display: block; }
    #mainstage #fast_facts #ff_cards {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 40px;
      width: 500px;
      height: 355px;
      -webkit-perspective: 130px;
      perspective: 130px;
      -webkit-perspective-origin: 150% 50%;
      perspective-origin: 150% 50%;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      #mainstage #fast_facts #ff_cards li {
        position: absolute;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
        list-style: none;
        -webkit-transition: opacity .5s, -webkit-transform .5s;
        transition: opacity .5s, -webkit-transform .5s;
        -o-transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s, -webkit-transform .5s; }
        #mainstage #fast_facts #ff_cards li.lvl_1 {
          -webkit-transform: translate3d(0, 0, -40px);
          transform: translate3d(0, 0, -40px);
          opacity: 0;
          z-index: 1; }
        #mainstage #fast_facts #ff_cards li.lvl_2 {
          -webkit-transform: translate3d(0, 0, -30px);
          transform: translate3d(0, 0, -30px);
          opacity: .1;
          z-index: 2; }
        #mainstage #fast_facts #ff_cards li.lvl_3 {
          -webkit-transform: translate3d(0, 0, -20px);
          transform: translate3d(0, 0, -20px);
          opacity: .4;
          z-index: 3; }
        #mainstage #fast_facts #ff_cards li.lvl_4 {
          -webkit-transform: translate3d(0, 0, -10px);
          transform: translate3d(0, 0, -10px);
          opacity: .7;
          z-index: 4; }
        #mainstage #fast_facts #ff_cards li.lvl_5 {
          -webkit-transform: translate3d(0, 0, 0px);
          transform: translate3d(0, 0, 0px);
          opacity: 1;
          z-index: 5; }
        #mainstage #fast_facts #ff_cards li.lvl_6 {
          -webkit-transform: translate3d(-360px, 0, 0px);
          transform: translate3d(-360px, 0, 0px);
          opacity: 0;
          z-index: 6; }
    #mainstage #fast_facts .ff_text {
      position: absolute;
      right: 0px;
      height: 100%;
      width: 50%;
      margin: 0;
      padding: 0; }
      #mainstage #fast_facts .ff_text li {
        list-style: none;
        font-size: 30px;
        opacity: 1;
        font-weight: 100;
        margin: 0;
        padding: 0;
        width: 80%; }
        #mainstage #fast_facts .ff_text li p {
          font-size: 3rem;
          line-height: 3.2rem; }
    #mainstage #fast_facts .ff_fade-enter-active, #mainstage #fast_facts .ff_fade-leave-active {
      -webkit-transition: opacity .5s, -webkit-transform .5s;
      transition: opacity .5s, -webkit-transform .5s;
      -o-transition: opacity .5s, transform .5s;
      transition: opacity .5s, transform .5s;
      transition: opacity .5s, transform .5s, -webkit-transform .5s; }
    #mainstage #fast_facts .ff_fade-enter, #mainstage #fast_facts .ff_fade-leave-to {
      opacity: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px); }
    #mainstage #fast_facts .ff_fade-leave-to {
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px); }
  #mainstage #case_studies {
    width: calc(100vw - 70px);
    height: 100%;
    position: absolute;
    left: 70px;
    top: 0px;
    display: none;
    background-color: #B3AFEE;
    overflow: hidden; }
    #mainstage #case_studies.open {
      display: block; }
    #mainstage #case_studies .cs_container {
      position: relative;
      height: 100%; }
      #mainstage #case_studies .cs_container h2, #mainstage #case_studies .cs_container h3 {
        color: #ffffff;
        text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
        text-align: center;
        font-weight: 100; }
      #mainstage #case_studies .cs_container h2 {
        font-size: 36px; }
      #mainstage #case_studies .cs_container .centerHV {
        width: 100%; }
      #mainstage #case_studies .cs_container .cs_1, #mainstage #case_studies .cs_container .cs_2 {
        position: relative;
        width: 50%;
        height: 100%;
        display: inline-block;
        background: no-repeat center center;
        background-size: cover;
        overflow: hidden;
        -webkit-transition: width .5s .3s;
        -o-transition: width .5s .3s;
        transition: width .5s .3s; }
        #mainstage #case_studies .cs_container .cs_1 video, #mainstage #case_studies .cs_container .cs_2 video {
          width: 177.77vh;
          height: 100vh;
          position: absolute;
          top: 0px; }
        #mainstage #case_studies .cs_container .cs_1 .cs_copy, #mainstage #case_studies .cs_container .cs_2 .cs_copy {
          position: absolute;
          width: calc(50vw - 4rem);
          height: calc(100vh - 8rem);
          border-radius: 1rem;
          background-color: #ffffff;
          -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          right: 0px;
          margin: 4rem;
          padding: 2rem;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
          #mainstage #case_studies .cs_container .cs_1 .cs_copy h2, #mainstage #case_studies .cs_container .cs_1 .cs_copy h3, #mainstage #case_studies .cs_container .cs_2 .cs_copy h2, #mainstage #case_studies .cs_container .cs_2 .cs_copy h3 {
            color: #000000;
            text-shadow: none;
            text-align: left;
            font-weight: bold; }
        #mainstage #case_studies .cs_container .cs_1 .blackout, #mainstage #case_studies .cs_container .cs_2 .blackout {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          left: 0px;
          top: 0px; }
        #mainstage #case_studies .cs_container .cs_1 .cs_fade-enter-active, #mainstage #case_studies .cs_container .cs_2 .cs_fade-enter-active {
          -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
          transition: opacity .5s .5s, -webkit-transform .5s .5s;
          -o-transition: opacity .5s .5s, transform .5s .5s;
          transition: opacity .5s .5s, transform .5s .5s;
          transition: opacity .5s .5s, transform .5s .5s, -webkit-transform .5s .5s; }
        #mainstage #case_studies .cs_container .cs_1 .cs_fade-leave-active, #mainstage #case_studies .cs_container .cs_2 .cs_fade-leave-active {
          -webkit-transition: opacity .3s, -webkit-transform .3s;
          transition: opacity .3s, -webkit-transform .3s;
          -o-transition: opacity .3s, transform .3s;
          transition: opacity .3s, transform .3s;
          transition: opacity .3s, transform .3s, -webkit-transform .3s; }
        #mainstage #case_studies .cs_container .cs_1 .cs_fade-enter, #mainstage #case_studies .cs_container .cs_1 .cs_fade-leave-to, #mainstage #case_studies .cs_container .cs_2 .cs_fade-enter, #mainstage #case_studies .cs_container .cs_2 .cs_fade-leave-to {
          opacity: 0;
          -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
          transform: translateY(20px); }
        #mainstage #case_studies .cs_container .cs_1 .cs_fade-leave-to, #mainstage #case_studies .cs_container .cs_2 .cs_fade-leave-to {
          -webkit-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
          transform: translateY(-20px); }
        #mainstage #case_studies .cs_container .cs_1 .cs_text_fade-enter-active, #mainstage #case_studies .cs_container .cs_2 .cs_text_fade-enter-active {
          -webkit-transition: opacity .5s .3s;
          -o-transition: opacity .5s .3s;
          transition: opacity .5s .3s; }
        #mainstage #case_studies .cs_container .cs_1 .cs_text_fade-leave-active, #mainstage #case_studies .cs_container .cs_2 .cs_text_fade-leave-active {
          -webkit-transition: opacity .5s;
          -o-transition: opacity .5s;
          transition: opacity .5s; }
        #mainstage #case_studies .cs_container .cs_1 .cs_text_fade-enter, #mainstage #case_studies .cs_container .cs_1 .cs_text_fade-leave-to, #mainstage #case_studies .cs_container .cs_2 .cs_text_fade-enter, #mainstage #case_studies .cs_container .cs_2 .cs_text_fade-leave-to {
          opacity: 0; }
      #mainstage #case_studies .cs_container .cs_1 {
        background-image: url(../img/cs_1.jpg);
        background-position: center left; }
        #mainstage #case_studies .cs_container .cs_1 video {
          right: 0px; }
      #mainstage #case_studies .cs_container .cs_2 {
        background-image: url(../img/cs_2.jpg);
        background-position: center right; }
        #mainstage #case_studies .cs_container .cs_2 video {
          left: 0px; }
      #mainstage #case_studies .cs_container.cs1 .cs_1 {
        width: 100%;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s; }
      #mainstage #case_studies .cs_container.cs1 .cs_2 {
        width: 0;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s; }
      #mainstage #case_studies .cs_container.cs1 .cs_copy {
        display: block; }
      #mainstage #case_studies .cs_container.cs2 .cs_2 {
        width: 100%;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s; }
      #mainstage #case_studies .cs_container.cs2 .cs_1 {
        width: 0;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s; }
      #mainstage #case_studies .cs_container.cs2 .cs_copy {
        display: block; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
