/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: ap_letter, helvetica, arial, serif;
  position: fixed; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'ap_letter';
  src: url("../font/apletter-bold-webfont.woff2") format("woff2"), url("../font/apletter-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ap_letter';
  src: url("../font/apletter-light-webfont.woff2") format("woff2"), url("../font/apletter-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'ap_letter';
  src: url("../font/apletter-regular-webfont.woff2") format("woff2"), url("../font/apletter-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.centerHV {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@keyframes ss_arrow {
  0% {
    -webkit-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0; } }

#mainstage {
  width: 1024px;
  height: 704px;
  position: relative;
  background-color: #333; }
  #mainstage #navigation {
    height: 100%; }
    #mainstage #navigation .bar {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 40px;
      height: 704px;
      background-color: #fff; }
      #mainstage #navigation .bar .title {
        display: block;
        width: 704px;
        height: 40px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 100%;
        left: 0px;
        line-height: 40px;
        text-align: center;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left; }
      #mainstage #navigation .bar a.open {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0px;
        left: 0px; }
        #mainstage #navigation .bar a.open .hbtop, #mainstage #navigation .bar a.open .hbbottom {
          position: absolute;
          display: block;
          width: 26px;
          height: 2px;
          background-color: #f00;
          left: 7px; }
        #mainstage #navigation .bar a.open .hbtop {
          top: 14px; }
        #mainstage #navigation .bar a.open .hbbottom {
          bottom: 14px; }
    #mainstage #navigation .nav_section_wrapper {
      width: 984px;
      height: 100%;
      position: absolute;
      left: 40px;
      display: none; }
      #mainstage #navigation .nav_section_wrapper.open {
        display: block; }
      #mainstage #navigation .nav_section_wrapper .nav_section {
        width: 33%;
        display: inline-block;
        height: 100%;
        background-color: #ff0;
        position: relative; }
        #mainstage #navigation .nav_section_wrapper .nav_section h2 {
          color: #fff;
          font-weight: 100;
          font-size: 30px; }
        #mainstage #navigation .nav_section_wrapper .nav_section.nav_ff {
          background-color: #6F6CD4; }
        #mainstage #navigation .nav_section_wrapper .nav_section.nav_pp {
          background-color: #817AE4; }
        #mainstage #navigation .nav_section_wrapper .nav_section.nav_cs {
          background-color: #615FC6; }
  #mainstage #screensaver {
    width: 984px;
    height: 100%;
    position: absolute;
    left: 40px;
    top: 0px;
    display: none;
    background-color: #3FBFAB;
    overflow: hidden; }
    #mainstage #screensaver.open {
      display: block; }
    #mainstage #screensaver .ss_text li {
      list-style: none;
      font-weight: bold;
      font-size: 30px;
      color: #ffffff;
      opacity: 1; }
    #mainstage #screensaver .ss_fade-enter-active, #mainstage #screensaver .ss_fade-leave-active {
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s; }
    #mainstage #screensaver .ss_fade-enter, #mainstage #screensaver .ss_fade-leave-to {
      opacity: 0; }
    #mainstage #screensaver .ss_arrow {
      position: absolute; }
      #mainstage #screensaver .ss_arrow img {
        -webkit-animation-name: ss_arrow;
        animation-name: ss_arrow;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
