/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: ap_letter, helvetica, arial, serif;
    position: fixed;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
// fonts

@font-face {
    font-family: 'ap_letter';
    src: url('../font/apletter-bold-webfont.woff2') format('woff2'),
         url('../font/apletter-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'ap_letter';
    src: url('../font/apletter-light-webfont.woff2') format('woff2'),
         url('../font/apletter-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'ap_letter';
    src: url('../font/apletter-regular-webfont.woff2') format('woff2'),
         url('../font/apletter-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

// helper functions
$width : 1024px;
$height: 704px;
$menu-width: 40px;
$canvas-width: $width - $menu-width;
$white: #ffffff;

@mixin h_cent() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// helper classes
.centerHV{
    @include h_cent;
}
strong{
    font-weight: 800;
}

// animations
@keyframes ss_arrow{
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translateX(150px);
        opacity: 0;
    }
}

#mainstage{
    width: $width;
    height: $height;
    position: relative;
    background-color: #333;
    #navigation{
        height: 100%;
        .bar{
            position: absolute;
            left: 0px;
            top:0px;
            width: $menu-width;
            height: $height;
            background-color: #fff;
            .title{
                display: block;
                width: $height;
                height: $menu-width;
                transform: rotate(-90deg);
                position: absolute;
                top: 100%;
                left: 0px;
                line-height: $menu-width;
                text-align: center;
                transform-origin: top left;
            }
            a.open{
                display: block;
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0px;
                left: 0px;
                .hbtop, .hbbottom{
                    position: absolute;
                    display: block;
                    width: 26px;
                    height: 2px;
                    background-color: #f00;
                    left: 7px;
                }
                .hbtop{
                    top: 14px; 
                }
                .hbbottom{
                    bottom: 14px; 
                }
            }
        }
        .nav_section_wrapper{
            width: $canvas-width;
            height: 100%;
            position: absolute;
            left: $menu-width;
            display: none;

            &.open{
                display: block;
            }
            .nav_section{
                width: 33.33%;
                display: inline-block;
                height: 100%;
                background-color: #ff0;
                position: relative;
                h2{
                    color: #fff;
                    font-weight: 100;
                    font-size: 30px;
                }
                &.nav_ff{
                    background-color: #6F6CD4;
                }                
                &.nav_pp{
                    background-color: #817AE4;
                }                
                &.nav_cs{
                    background-color: #615FC6;
                }
            }
        }
    }
    #screensaver{
        width: $canvas-width;
        height: 100%;
        position: absolute;
        left: $menu-width;
        top: 0px;
        display: none;
        background-color: #3FBFAB;
        overflow: hidden;
        &.open{
            display: block;
        }
        .ss_text{
            li{
                list-style: none;
                font-weight: bold;
                font-size: 30px;
                color: $white;
                opacity: 1;
            }
        }
        .ss_fade-enter-active, .ss_fade-leave-active {
          transition: opacity .5s, transform .5s;
        }
        .ss_fade-enter, .ss_fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
          opacity: 0;
          transform: translateX(-20px);
        }
        .ss_fade-leave-to{
            transform: translateX(20px);
        }
        .ss_arrow{
            position: absolute;
            img{
                animation-name: ss_arrow;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }
    #fast_facts{
        width: $canvas-width;
        height: 100%;
        position: absolute;
        left: $menu-width;
        top: 0px;
        display: none;
        background-color: #B3AFEE;
        overflow: hidden;
        &.open{
            display: block;
        }
        #ff_cards{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 60px;
            width: 350px;
            height: 340px;
            perspective: 130px;
            perspective-origin: 150% 50%;
            margin: 0;
            padding: 0;
            li{
                position: absolute;
                background-color: $white;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 10px 5px 20px rgba(0,0,0,0.2);
                list-style: none;
                transition: transform .5s, opacity .5s;
                &.lvl_1{
                    transform: translate3d(0,0,-40px);
                    opacity: 0;
                    z-index: 1;
                }
                &.lvl_2{
                    transform: translate3d(0,0,-30px);
                    opacity: .1;
                    z-index: 2;
                }
                &.lvl_3{
                    transform: translate3d(0,0,-20px);
                    opacity: .4;
                    z-index: 3;
                }
                &.lvl_4{
                    transform: translate3d(0,0,-10px);
                    opacity: .7;
                    z-index: 4;
                }
                &.lvl_5{
                    transform: translate3d(0,0,0px);
                    opacity: 1;
                    z-index: 5;
                }
                &.lvl_6{
                    transform: translate3d(-360px,0,0px);
                    opacity: 0;
                    z-index: 6;
                }
            }
        }
        .ff_text{
            position: absolute;
            right: 0px;
            height: 100%;
            width: 50%;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                font-size: 30px;
                opacity: 1;
                font-weight: 100;
            }
        }
        .ff_fade-enter-active, .ff_fade-leave-active {
          transition: opacity .5s, transform .5s;
        }
        .ff_fade-enter, .ff_fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
          opacity: 0;
          transform: translateX(20px);
        }
        .ff_fade-leave-to{
            transform: translateX(-20px);
        }
    }
    #case_studies{
        width: $canvas-width;
        height: 100%;
        position: absolute;
        left: $menu-width;
        top: 0px;
        display: none;
        background-color: #B3AFEE;
        overflow: hidden;
        &.open{
            display: block;
        }
        .cs_container{
            position: relative;
            height: 100%;
            h2,h3{
                color: $white;
                text-shadow: 0px 0px 25px rgba(0,0,0,0.8);
                text-align: center;
                font-weight: 100;
            }
            h2{
                font-size: 36px;
            }
            .centerHV{
                width: 100%;
            }
            .cs_copy{
                display: none;
            }
            .cs_1, .cs_2{
                position: relative;
                width: 50%;
                height: 100%;
                display: inline-block;
                background: no-repeat center center;
                background-size: cover;

            }
            .cs_1{
                background-image: url(../img/cs_1.jpg);
            }
            .cs_2{
                background-image: url(../img/cs_2.jpg);
            }
        }
    }
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
