<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AusPost Event App</title>
  <meta name="description" content="Offline web app">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="AusPost Event App"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
  <meta name="theme-color" content="#ebe5df"/>
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon-192x192.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div id="mainstage">
    <nav id="navigation">
      <div class="bar" v-on:click="toggleMenu">
        <span class="title">{{ title }}</span>
        <a href="#" class="open"><span class="hbtop"></span><span class="hbbottom"></span></a>
      </div>
      <transition :duration="1000" name="menu_open">
        <div class="nav_section_wrapper" v-if="isOpen">           
          <div class="nav_section nav_pp" v-on:click="load_pp">
            <div class="centerHV">
              <img src="img/pain-points.svg" width="70" class="menu_img"/>
              <h2>Government Pain Points</h2>
            </div>
          </div><div class="nav_section nav_ff" v-on:click="load_ff">
            <div class="centerHV">
              <img src="img/fast-facts.svg" width="70" class="menu_img"/>
              <h2>Fast Facts</h2>
            </div>
          </div><div class="nav_section nav_cs" v-on:click="load_cs">
            <div class="centerHV">
              <img src="img/case-studies.svg" width="70" class="menu_img"/>
              <h2>Case Studies</h2>
            </div>
          </div>
          <img class="menu_close" src="img/close-x.svg" width="30px" v-on:click="isOpen = false"/>
        </div>
      </transition>
    </nav>
    <transition name="ss_fadein">
      <section id="screensaver" v-if="open" v-on:click="destroy">
        <span class="ss_arrow" v-for="arrow in arrows" v-bind:style="{ left: arrow.x+'px', top: arrow.y+'px', transform: 'scale('+arrow.s+','+arrow.s+')', opacity: arrow.s - .2}">
          <img src="img/ss_arrow.svg" width="150" v-bind:style="{ 'animation-delay': -arrow.d+'ms' }"/>
        </span>
        <ul class="ss_text">
          <li class="centerHV" v-for="item in text">
            <transition name="ss_fade">
              <h2 v-if="item.id == current">{{ item.text }}</h2>
            </transition>
          </li>
        </ul>
      </section>
    </transition>

    <section id="fast_facts" v-if="open" v-bind:class="{ open: open }">
      <ul id="ff_cards">
        <li v-for="card in cards" v-bind:class="'lvl_'+card.depth">
          <img v-bind:src="card.img" width="300"/>
        </li>
      </ul>
      <ul class="ff_text">
        <li class="centerHV" v-for="card in cards">
          <transition name="ff_fade">
            <p v-if="card.depth == current" v-html="card.text"></p>
          </transition>
        </li>
      </ul>
    </section>

    <section id="pain_points">
      <div class="circle background">
        <div class="inner_1">
        </div>
        <div class="inner_2">
        </div>
        <div class="center">
        </div>
      </div>
      <div class="circle foreground">
        <div class="inner_1">
        </div>
        <div class="inner_2">
        </div>
        <div class="center">
        </div>
      </div>
    </section>

    <section id="case_studies" v-bind:class="{ open: open }">
      <div class="cs_container" v-bind:class="[ current ]">
        <div class="cs_1" v-on:click="current = 'cs1'; play('cs1')">
          <video paused loop id="cs_vid_1">
            <source src="img/cs2.mp4" type="video/mp4" />         
          </video>
          <transition name="cs_text_fade">
            <div v-if="current == 'cs1'" class="blackout"></div>
          </transition>
          <transition name="cs_text_fade">
            <span v-if="current == 'closed'" class="centerHV">
              <h3>Case Study</h3>
              <h2>Cash Disbursement</h2>
            </span>
          </transition>
          <transition name="cs_fade">
            <div v-if="current == 'cs1'" class="cs_copy">
              <h3 v-on:click.stop="current = 'closed'; play(false)">< Back to Case Studies</h3>
              <h2>Cash Disbursement</h2>
              <p>
                Julia is a third generation sugar cane farmer from rural Queensland. When heavy rains caused the Herbert River to break its banks and floodwaters inundated her property, she lost everything. Her home. Her livelihood.
              </p>
              <p>
                Luckily, help was on its way thanks to Australia Post’s disbursement services. As Julia took refuge with her neighbours in the town’s civic centre, she was pleased to receive an SMS notification that her emergency payment was already ready. Immediately, she was able to verify her identity with the pin code provided and collect her emergency payment at her local post office.
              </p>
              <p>
                With the help of the fast-tracked government disaster relief funds, Julia was able to begin rebuilding her life.
              </p>
            </div>
          </transition>
        </div><!--
     --><div class="cs_2" v-on:click.stop="current = 'cs2'; play('cs2')">
          <video paused loop id="cs_vid_2">
            <source src="img/cs1.mp4" type="video/mp4" />        
          </video>
          <transition name="cs_text_fade">
            <div v-if="current == 'cs2'" class="blackout"></div>
          </transition>
          <transition name="cs_text_fade">
            <span v-if="current == 'closed'" class="centerHV">
              <h3>Case Study</h3>
              <h2>Bill Management</h2>
            </span>
          </transition>
          <transition name="cs_fade">
            <div v-if="current == 'cs2'" class="cs_copy">
              <h3 v-on:click.stop="current = 'closed'; play(false)">< Back to Case Studies</h3>
              <h2>Cash Disbursement</h2>
              <p>
                Matt, a stay-at-home dad, dreaded the arrival of bills in the mail. He always intended on paying them quickly but there was never a convenient time, place or method. 
              </p>
              <p>
                Things changed when he heard about the AusPost app he already used for tracking parcels. Matt has always trusted Australia Post to deliver his bills, so trusting them to pay bills too seemed like a no-brainer. Matt now receives most of his bills directly through the app, allowing him to pay them whenever he wants. 
              </p>
              <p>
                This simple, convenient solution helped Matt become more confident in managing the
              </p>
            </div>
          </transition>
        </div>
      </div>
    </section>


  </div>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
